:root {
  --m: 4rem;
  --red: #e6505b;
  --pink: #ef82c1;
  --blue: #0080ff;
  --green: #65fb32;
  --white: #f1f1f1;
  --black: #1e1e1e;
  --blacker: #131313;
  --grey: #868686;
  --orange: #e48837;
  --yellow: #f1c02d;
  --violet: #8554fd;
  --cyan: #80e7fa;
  --opacity: 0.3;
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src: local("SF Pro Display"),
    url("https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYREGULAR.woff")
      format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local("Inter"),
    url("https://fonts.cdnfonts.com/s/19795/Inter[slnt,wght].woff")
      format("woff");
}
/*****************************************************************************************************************************/

* {
  font-family: "Inter", "SF Pro Display";
  scroll-behavior: smooth;
  overflow-x: hidden;
  flex-wrap: wrap;
}
html,
body {
  background-color: var(--blacker);
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  animation: stopscroll 3.5s forwards;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
/*****************************************************************************************************************************/
.no-underline {
  overflow: hidden;
  text-decoration: none;
  color: var(--pink);
}

.blue {
  overflow: hidden;
  color: var(--blue);
}
/*****************************************************************************************************************************/
.dissapear {
  overflow-x: hidden;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  height: 100vh;
  margin-top: 100vh;
  animation: collapse-space 3s forwards;
}
/*****************************************************************************************************************************/
.hicontainer {
  overflow-x: hidden;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  animation: fade-in-out 3s forwards;
}

.hithere {
  overflow-x: hidden;
  color: white;
  place-self: center;
  font-size: calc(1.5 * var(--m));
  animation: fade-in-out 3s forwards;
}
/*****************************************************************************************************************************/
.introcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: calc(center);
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
}
.name {
  justify-self: center;
  place-self: center;
  line-height: 1;
  font-weight: 600;
  display: flex;
  color: var(--white);
  font-size: calc(1.5 * var(--m));
  overflow: hidden;
}
.frontend {
  justify-self: center;
  place-self: center;
  color: var(--white);
  font-size: calc(0.295 * var(--m));
  margin-bottom: calc(0.313 * var(--m));
  overflow-x: hidden;
}
.bio {
  justify-self: center;
  place-self: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: calc(var(--m) / 2 / 1.5);
  width: 35vw;
  margin-top: calc(0.039 * var(--m));
  overflow-x: hidden;
}
.bioleft {
  justify-self: center;
  place-self: center;
  color: var(--white);
  font-size: calc(0.295 * var(--m));
  margin: 0;
  overflow-x: hidden;
}
.bioright {
  justify-self: center;
  place-self: center;
  color: var(--white);
  font-size: calc(0.295 * var(--m));
  margin: 0;
  color: var(--green);
  overflow-x: hidden;
}
/*****************************************************************************************************************************/
.techk,
.techl,
.projects {
  color: var(--white);
  font-size: calc(0.65 * var(--m));
  font-weight: 600;
  padding-left: calc(3 * var(--m));
  width: -moz-fit-content;
  width: fit-content;
  overflow-x: hidden;
}
.techkcontainer,
.techlcontainer {
  display: flex;
  align-items: center;
  padding-left: calc(3 * var(--m));
  padding-right: calc(3 * var(--m));
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: calc(0.5 * var(--m));
  overflow-x: hidden;
}
.card {
  overflow-x: hidden;
  width: calc(4.469 * var(--m));
  display: flex;
  justify-self: center;
  align-items: center;
  gap: calc(0.313 * var(--m));
  padding: calc(0.156 * var(--m));
  border-radius: calc(0.188 * var(--m));
  border: calc(0.0314 * var(--m)) solid #2a2a2a;
  background-color: #1f1f1f;
  transition: background-color 200ms, border-color 200ms;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.card:hover {
  border-color: #3e3e3e;
  background-color: #2a2a2a;
}
.card1 .logo-container {
  background-color: rgba(233, 87, 43, var(--opacity));
}
.card2 .logo-container {
  background-color: rgba(73, 148, 236, var(--opacity));
}
.card3 .logo-container,
.card6 .logo-container {
  background-color: rgba(249, 223, 75, var(--opacity));
}
.card4 .logo-container {
  background-color: rgba(221, 76, 58, var(--opacity));
}
.card5 .logo-container {
  background: linear-gradient(
    to bottom right,
    rgba(76, 120, 166, var(--opacity)) 25%,
    rgba(250, 223, 110, var(--opacity))
  );
}
.card7 .logo-container {
  background-color: rgba(68, 118, 192, var(--opacity));
}
.card8 .logo-container {
  background-color: rgba(108, 204, 147, var(--opacity));
}
.card9 .logo-container {
  background-color: rgba(227, 91, 58, var(--opacity));
}
.card10 .logo-container {
  background-color: rgba(102, 187, 242, var(--opacity));
}
.logo-container {
  overflow: hidden;
  padding: calc(0.188 * var(--m));
  border-radius: calc(0.125 * var(--m));
  width: calc(0.5 * var(--m));
  height: calc(0.5 * var(--m));
}

.logo {
  overflow-x: hidden;
  width: calc(0.5 * var(--m));
  height: calc(0.5 * var(--m));
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: calc(0.047 * var(--m));
}

.title {
  overflow-x: hidden;
  color: var(--white);
  font-size: calc(0.281 * var(--m));
  font-weight: 500;
  margin: 0;
}

.subtitle {
  overflow-x: hidden;
  font-size: calc(0.219 * var(--m));
  color: var(--white); /*rgba(255, 255, 255, 0.7)*/
  margin: 0;
}
/*****************************************************************************************************************************/
.pjscontainer {
  overflow-x: hidden;
  display: flex;
  padding-left: calc(3 * var(--m));
  width: calc(20.95 * var(--m));
  height: 100vh;
  width: -moz-fit-content;
  width: fit-content;
}
.pj {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  width: calc(7 * var(--m));
  height: calc(9 * var(--m));
  background-color: #1f1f1f;
  color: var(--white);
  border: calc(0.063 * var(--m)) solid var(--white);
  border-radius: calc(0.156 * var(--m)) !important;
  padding-left: calc(0.35 * var(--m));
  padding-right: calc(0.35 * var(--m));
}
.pjtitle {
  overflow-x: hidden;
  font-size: calc(0.5 * var(--m));
  font-weight: 600;
  color: var(--white);
  margin-bottom: calc(0.25 * var(--m));
}
.pjdesc {
  overflow-x: hidden;
  font-size: calc((var(--m) / 2) / 2);
  color: var(--white);
  margin: 0;
}
.pjimg {
  overflow-x: hidden;
  padding-top: calc(0.5 * var(--m));
  width: calc(7 * var(--m));
  height: calc(4 * var(--m));
  border-radius: calc(0.078 * var(--m));
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pjgitcontainer,
.pjlinkcontainer {
  overflow-x: hidden;
  display: flex;
  align-items: center;
  padding: calc(0.156 * var(--m));
  border: #3e3e3e calc(0.047 * var(--m)) solid;
  width: calc(0.5 * var(--m));
  height: calc(0.5 * var(--m));
  border-radius: calc(0.188 * var(--m));
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: background-color 200ms, border-color 200ms;
}
.pjgitcontainer:hover,
.pjlinkcontainer:hover {
  border-color: #525252;
  background-color: #3e3e3e;
}
.pjgit,
.pjlink {
  overflow-x: hidden;
  width: calc(0.5 * var(--m));
  height: calc(0.5 * var(--m));
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pjiconscontainer {
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;

  width: calc(2 * var(--m));
  margin-top: calc(0.5 * var(--m));
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.pjinfocontainer {
  overflow-x: hidden;
  display: flex;

  justify-content: space-between;
  padding-bottom: 0;
  margin-top: calc(0.16525 * var(--m));
  width: calc(7 * var(--m));
}

.techstackcontainer {
  display: flex;
  gap: calc(0.05 * var(--m));
  width: -moz-fit-content;
  width: fit-content;
  margin-top: calc(0.391 * var(--m));
}
.techstack {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #1f1f1f;
  line-height: 1;
  font-size: calc(0.2345 * var(--m));
  border: #868686 solid calc(0.031 * var(--m));
  border-radius: calc(0.156 * var(--m));
  height: -moz-fit-content;
  height: fit-content;
  padding: calc(0.156 * var(--m));
  transition: background-color 200ms, border-color 200ms;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.techstack:hover {
  border-color: #525252;
  background-color: #3e3e3e;
}
/*****************************************************************************************************************************/
.footer {
  display: flex;
  flex-direction: column;
  height: 25vh;
  padding: calc(0.313 * var(--m));
  color: var(--white);
  border: #444444 solid calc(0.047 * var(--m));
  border-top-right-radius: calc(0.5 * var(--m));
  border-top-left-radius: calc(0.5 * var(--m));
  border-bottom-left-radius: calc(0.25 * var(--m));
  border-bottom-right-radius: calc(0.25 * var(--m));
}
.collabtitle {
  padding: calc(0.156 * var(--m));
  margin: 0;
}
.infocontainer {
  display: flex;
  justify-content: space-between;
}
.madeby {
  align-self: center;
  margin-bottom: 0;
  margin-top: calc(1.5 * var(--m));
  font-size: calc(0.3125 * var(--m));
}
.socialscontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-self: right;
  width: calc(2 * var(--m));
}
.gitsocialcontainer,
.discsocialcontainer {
  border: #868686 solid calc(0.031 * var(--m));
  border-radius: calc(0.156 * var(--m));
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: calc(0.156 * var(--m));
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: background-color 200ms, border-color 200ms;
}
.gitsocialcontainer:hover,
.discsocialcontainer:hover {
  border-color: #525252;
  background-color: #3e3e3e;
}
.gitsocial,
.discsocial {
  padding: calc(0.039 * var(--m));
  width: calc(0.5 * var(--m));
  height: calc(0.5 * var(--m));
}

/**********************************************************************************************************************************/
@keyframes fade-in-out {
  0% {
    opacity: 0;
    overflow: hidden;
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    background: transparent;
  }
}
@keyframes collapse-space {
  from {
    margin-top: 100vh;
  }
  to {
    display: none;
    margin-top: 0;
    height: 0;
  }
}
@keyframes stopscroll {
  0% {
    overflow: hidden;
  }
  10% {
    overflow: hidden;
  }
  20% {
    overflow: hidden;
  }
  30% {
    overflow: hidden;
  }
  40% {
    overflow: hidden;
  } /* Just don't ask. If it works, it works */
  50% {
    overflow: hidden;
  }
  60% {
    overflow: hidden;
  }
  70% {
    overflow: hidden;
  }
  80% {
    overflow: hidden;
  }
  90% {
    overflow: hidden;
  }
  100% {
    overflow: scroll;
  }
}
/**********************************************************************************************************************************/
@media (max-width: 1671px) {
  :root {
    --m: 3.5rem;
  }
}
@media (max-width: 1670px) {
  :root {
    --m: 3rem;
  }
}
@media (max-width: 385px) {
  :root {
    --m: 2rem;
  }
}
@media (max-width: 307px) {
  :root {
    --m: 1rem;
  }
}
@media (max-width: 150px) {
  :root {
    --m: 0.5rem;
  }
}
@media (min-width: 3840px) {
  :root {
    --m: 10rem;
  }
}
@media (min-width: 6100px) {
  :root {
    --m: 17.5rem;
  }
}
