:root {
  --m: 4rem;
  --red: #e6505b;
  --pink: #ef82c1;
  --blue: #0080ff;
  --green: #65fb32;
  --white: #f1f1f1;
  --black: #1e1e1e;
  --blacker: #131313;
  --grey: #868686;
  --orange: #e48837;
  --yellow: #f1c02d;
  --violet: #8554fd;
  --cyan: #80e7fa;
  --opacity: 0.3;
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src: local("SF Pro Display"),
    url("https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYREGULAR.woff")
      format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local("Inter"),
    url("https://fonts.cdnfonts.com/s/19795/Inter[slnt,wght].woff")
      format("woff");
}

* {
  font-family: "Inter", "SF Pro Display";
  scroll-behavior: smooth;
}
html,
body {
  background-color: var(--blacker);
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  animation: stopscroll 1s forwards; /*TODO: make it 6s*/
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
.no-underline {
  text-decoration: none;
  color: var(--pink);
}

.blue {
  color: var(--blue);
}

.dissapear {
  pointer-events: none;
  user-select: none;
  height: 100vh;
  margin-top: 100vh;
  animation: collapse-space 1s forwards; /* TODO: make it 5s*/
}
.hicontainer {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  animation: fade-in-out 1s forwards;
}

.hithere {
  color: white;
  place-self: center;
  font-size: calc(1.5 * var(--m));
  animation: fade-in-out 5s forwards;
}
.introcontainer {
  display: grid;
  place-items: center;
  place-content: center;
  height: 100vh;
  width: 100vw;
}
.name {
  place-self: center;
  line-height: 1;
  font-weight: 600;
  display: flex;
  color: var(--white);
  font-size: calc(1.5 * var(--m));
}
.frontend {
  color: var(--white);
  font-size: calc(0.295 * var(--m));
  margin-bottom: 20px;
}
.bio {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: calc(var(--m) / 2 / 1.5);
  width: 35vw;
  margin-top: 2.5px;
}
.bioleft {
  color: var(--white);
  font-size: calc(0.295 * var(--m));
  margin: 0;
}
.bioright {
  color: var(--white);
  font-size: calc(0.295 * var(--m));
  margin: 0;
  color: var(--green);
}
.techk,
.techl,
.projects {
  color: var(--white);
  font-size: calc(0.65 * var(--m));
  font-weight: 600;
  padding-left: calc(3 * var(--m));
}
.techkcontainer,
.techlcontainer {
  display: flex;
  align-items: center;
  padding-left: calc(3 * var(--m));
  width: fit-content;
  height: fit-content;
  gap: calc(0.5 * var(--m));
}
.card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7 {
  width: 286px;
  /* height: 55px; */
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-radius: 12px;
  border: 2px solid #2a2a2a;
  background-color: #1f1f1f;
  transition: background-color 200ms, border-color 200ms;
  cursor: default;
  user-select: none;
}

.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover,
.card5:hover,
.card6:hover,
.card7:hover {
  border-color: #3e3e3e;
  background-color: #2a2a2a;
}
.card1 .logo-container {
  background-color: rgba(233, 87, 43, var(--opacity));
}
.card2 .logo-container {
  background-color: rgb(73, 148, 236, var(--opacity));
}
.card3 .logo-container,
.card5 .logo-container {
  background-color: rgb(249, 223, 75, var(--opacity));
}
.card4 .logo-container {
  background: linear-gradient(
    to bottom right,
    rgb(76, 120, 166, var(--opacity)) 25%,
    rgb(250, 223, 110, var(--opacity))
  );
}
.card6 .logo-container {
  background-color: rgb(68, 118, 192, var(--opacity));
}
.card7 .logo-container {
  background-color: rgb(108, 204, 147, var(--opacity));
}

.logo-container {
  padding: 12px;
  border-radius: 8px;
  width: 32px;
  height: 32px;
}

.logo {
  width: 32px;
  height: 32px;
  user-select: none;
  border-radius: 3px;
}

.title {
  color: var(--white);
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0;
}

.subtitle {
  font-size: 0.875rem;
  color: var(--white); /*rgba(255, 255, 255, 0.7)*/
  margin: 0;
}
.pjscontainer {
  display: flex;
  padding-left: calc(3 * var(--m));
  width: calc(20.95 * var(--m));
  height: 100vh;
}
.pj {
  display: flex;
  flex-direction: column;
  width: calc(7 * var(--m));
  height: calc(9 * var(--m));
  background-color: #1f1f1f;
  color: var(--white);
  border: 4px solid var(--white);
  border-radius: 10px !important;
  padding-left: calc(0.35 * var(--m));
  padding-right: calc(0.35 * var(--m));
}
.pjtitle {
  font-size: calc(0.5 * var(--m));
  font-weight: 600;
  color: var(--white);
  margin-bottom: calc(0.25 * var(--m));
}
.pjdesc {
  font-size: calc((var(--m) / 2) / 2);
  color: var(--white);
  margin: 0;
}
.pjimg {
  padding-top: calc(0.5 * var(--m));
  width: calc(7 * var(--m));
  height: calc(4 * var(--m));
  border-radius: 5px;
  user-select: none;
}

.pjgitcontainer,
.pjlinkcontainer {
  display: flex;
  align-items: center;
  padding: 10px;
  border: #3e3e3e 3px solid;
  width: calc(0.5 * var(--m));
  height: calc(0.5 * var(--m));
  border-radius: 12px;
  user-select: none;
}
.pjgitcontainer:hover,
.pjlinkcontainer:hover {
  border-color: #525252;
  background-color: #3e3e3e;
  transition: background-color 200ms, border-color 200ms;
}
.pjgit,
.pjlink {
  width: calc(0.5 * var(--m));
  height: calc(0.5 * var(--m));
  user-select: none;
}
.pjiconscontainer {
  display: flex;
  justify-content: space-between;
  /* border: #8554fd solid 3px; */
  width: calc(2 * var(--m));
  margin-top: calc(0.5 * var(--m));
  user-select: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.pjinfocontainer {
  display: flex;
  /* border: #0022ff solid 3px; */
  justify-content: space-between;
  padding-bottom: 0;
  margin-top: calc(0.16525 * var(--m));
  width: calc(5 * var(--m));
}
.techstackcontainer {
  display: flex;
  gap: calc(0.05 * var(--m));
  width: calc(2 * var(--m));
  margin-top: 25px;
}
.techstack {
  border: #54fd76 solid 3px;
  width: calc(2 * var(--m));
  background-color: #1f1f1f;
  line-height: 1;
  font-size: calc(0.2345 * var(--m));
  border: #868686 solid 2px;
  border-radius: 10px;
  height: fit-content;
  padding: 10px;
  transition: background-color 200ms, border-color 200ms;
  cursor: default;
  user-select: none;
}
.techstack:hover {
  border-color: #525252;
  background-color: #3e3e3e;
}
.footer {
  display: flex;
  height: 25vh;
  padding: 20px;
  color: var(--white);
  border: #0022ff solid 3px;
}
.collab {
  border-color: rgb(0, 234, 255) solid 3px;
  padding: 20px;
}
.madeby{
  
}
/**********************************************************************************************************************************/
@keyframes fade-in-out {
  0% {
    opacity: 0;
    overflow: hidden;
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    background: transparent;
  }
}
@keyframes collapse-space {
  from {
    margin-top: 100vh;
  }
  to {
    display: none;
    margin-top: 0;
    height: 0;
  }
}
@keyframes stopscroll {
  0% {
    overflow: hidden;
  }
  10% {
    overflow: hidden;
  }
  20% {
    overflow: hidden;
  }
  30% {
    overflow: hidden;
  }
  40% {
    overflow: hidden;
  } /* Just don't ask. If it works, it works */
  50% {
    overflow: hidden;
  }
  60% {
    overflow: hidden;
  }
  70% {
    overflow: hidden;
  }
  80% {
    overflow: hidden;
  }
  90% {
    overflow: hidden;
  }
  100% {
    overflow: scroll;
  }
}
