:root {
  --m: 4rem;
  --red: #e6505b;
  --pink: #ef82c1;
  --blue: #0080ff;
  --green: #65fb32;
  --white: #f1f1f1;
  --black: #1e1e1e;
  --blacker: #131313;
  --grey: #868686;
  --orange: #e48837;
  --yellow: #f1c02d;
  --violet: #8554fd;
  --cyan: #80e7fa;
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src: local("SF Pro Display"),
    url("https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYREGULAR.woff")
      format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local("Inter"),
    url("https://fonts.cdnfonts.com/s/19795/Inter[slnt,wght].woff")
      format("woff");
}

* {
  font-family: "Inter", "SF Pro Display";
  scroll-behavior: smooth;
}
html,
body {
  background-color: var(--blacker);
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  animation: stopscroll 1s forwards; /*TODO: make it 6s*/
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
.no-underline {
  text-decoration: none;
  color: var(--pink);
}
.blue {
  color: var(--blue);
}

.dissapear {
  pointer-events: none;
  user-select: none;
  height: 100vh;
  margin-top: 100vh;
  animation: collapse-space 1s forwards; /* TODO: make it 5s*/
}
.hicontainer {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  animation: fade-in-out 1s forwards;
}

.hithere {
  color: white;
  place-self: center;
  font-size: calc(1.5 * var(--m));
  animation: fade-in-out 5s forwards;
}
.introcontainer {
  display: grid;
  place-items: center;
  place-content: center;
  height: 100vh;
  width: 100vw;
}
.name {
  place-self: center;
  line-height: 1;
  font-weight: 600;
  display: flex;
  color: var(--white);
  font-size: calc(1.5 * var(--m));
}
.frontend {
  color: var(--white);
  font-size: calc(0.295 * var(--m));
  margin-bottom: 20px;
}
.bio {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: calc(var(--m) / 2 / 1.5);
  width: 35vw;
  margin-top: 2.5px;
}
.bioleft {
  color: var(--white);
  font-size: calc(0.295 * var(--m));
  margin: 0;
}
.bioright {
  color: var(--white);
  font-size: calc(0.295 * var(--m));
  margin: 0;
  color: var(--green);
}
.techk, .techl{
  color: var(--white);
  font-size: calc(0.65 * var(--m));
  font-weight: 600;
  padding-left: calc(3 * var(--m));
}
.techkcontainer, .techlcontainer{
  display: flex;
  align-items: center;
  padding-left: calc(3 * var(--m));
  width: fit-content;
  height: fit-content;
  gap: calc(0.5 * var(--m));
}
.card {
  width: 286px;
  height: 55px;
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #fafafa;
  background-color: #fafafa;
  transition: background-color 200ms, border-color 200ms;
}


.card {
  background-color: #1f1f1f;
  border-color: #2a2a2a;
}

.card:hover {
  border-color: #3e3e3e;
  background-color: #2a2a2a;
}

.logo-container {
  padding: 12px;
  background-color: rgba(49, 120, 198, 0.2);
  border-radius: 8px;
  width: fit-content;
}

.logo {
  width: 32px;
  height: 32px;
  user-select: none;
}

.title {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0;
}

.subtitle {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
}
/**********************************************************************************************************************************/
@keyframes fade-in-out {
  0% {
    opacity: 0;
    overflow: hidden;
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    background: transparent;
  }
}
@keyframes collapse-space {
  from {
    margin-top: 100vh;
  }
  to {
    display: none;
    margin-top: 0;
    height: 0;
  }
}
@keyframes stopscroll {
  0% {
    overflow: hidden;
  }
  10% {
    overflow: hidden;
  }
  20% {
    overflow: hidden;
  }
  30% {
    overflow: hidden;
  }
  40% {
    overflow: hidden;
  } /* Just don't ask. If it works, it works */
  50% {
    overflow: hidden;
  }
  60% {
    overflow: hidden;
  }
  70% {
    overflow: hidden;
  }
  80% {
    overflow: hidden;
  }
  90% {
    overflow: hidden;
  }
  100% {
    overflow: scroll;
  }
}
